body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
}
.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 1062px;
}
.card {
    display: flex;
    align-items: center;
    height: 396px;
    width: 1062px;
    background-color: #F38D68;
}
.cards figure {
    height: 352px;
    width: 503px;
}
.cards img {
    height: 352px;
    width: 503px;
    object-fit: cover;
}
.texts {
    display: flex;
    flex-direction: column;
    height: 352px;
    width: 531px;
    font-family: 'Source Sans Pro', sans-serif;
}
.texts h2 {
    margin-top: 0px;
    margin-bottom: 100px;
    font-size: xx-large;
}
.texts h4 {
    margin: 0px;
}
.texts h5 {
    margin: 0px;

}
.texts h3 {
    margin: 17px 0 0 0;
    font-size: 28pt;
}

.comillas img{
    height: 21px;
    width: 28px;
    margin-bottom: 10px;
}